{% load static %}

<!DOCTYPE html>
<html lang="en" class='form-page'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class='body-background'>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class='div-spacing login-form'>
            <h1>Login</h1>
            <form method='POST'>
                {% csrf_token %}
                {{ createaccount.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
</body>

</html>
