{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class='body-background'>
        <div class='project-detail'>
            <h1>My Tasks</h1>
            {% if task %}
            <table class='my-tasks-list'>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for tas in task %}
                    <tr>
                        <td>{{tas.name}}</td>
                        <td>{{tas.start_date}}</td>
                        <td>{{tas.due_date}}</td>
                        <td>{{tas.is_completed|yesno:'yes,no'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <h2>My Tasks Progress</h2>
                {% autoescape off %}
                {{ plot_div }}
                {% endautoescape %}
            </div>
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
</body>

</html>
